<div id="panel" style="height:100px; width:95%; border: solid; border-radius: 25px; float:left; margin-bottom:10px; padding:10px 10px 10px 10px; background-color:#999">

    <div style="width:80px; height:80px; border: solid; float:left; background-color:#FFF"> 
    
    </div>

    <div style="float:left; margin-left:20px;">
         <span class="starRating">
          <input id="rating5" type="radio" name="rating" value="5">
          <label for="rating5">5</label>
          <input id="rating4" type="radio" name="rating" value="4">
          <label for="rating4">4</label>
          <input id="rating3" type="radio" name="rating" value="3">
          <label for="rating3">3</label>
          <input id="rating2" type="radio" name="rating" value="2">
          <label for="rating2">2</label>
          <input id="rating1" type="radio" name="rating" value="1">
          <label for="rating1">1</label>
        </span>
        
        <label style="margin-left: 20px;" id='promedioEstablecimiento'>4.5%</label>
        
        <label style="display: block; font-size:11px; margin-bottom:10px;" id='cantCalifEstablecimiento'>2 Calificaciones</label>
        <label style="display: block;" id='nombreEstablecimiento'>Nombre</label>
        <label style="display: block;" id='direccionEstablecimiento'>Direccion</label>
    </div>
    
    <div style="width:100px; height:80px; float:right; padding-top:20px;"> 
      <button id="btnCalificar" type="button"  style="width:100px;" data-toggle="modal" data-target="#myModal">Calificar</button>
      <button id="btnDetalle" type="button"  style="width:100px;" data-toggle="modal" data-target="#popUpDetalleEstablecimiento">Detalle</button>
    </div>
</div>