<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="../facebook.js"></script>


  <script>
  window.onload = function(){
  /* Comprueba el estado del usuario, incluir esta función en todas la páginas donde el usuario 
   deba estar conectado */
  getStateFromUser();
  }
  </script>


<script type="text/javascript" src="libs.js"></script>
<script type="text/javascript" src="../dao.js"></script>
<script>

function onLoad(){

  fillComboRubros();
  fillComboCiudades();

}

</script>

<title>Documento sin título</title>
</head>

<body onLoad="onLoad();" >

  <div style="width:400px;">
    
        <div id="content" style="height:100%; width:45%; padding: 10px 10px 10px 10px;">
            
          <div>
              <label style="display: block;" id='nombreEstablecimiento' >Nombre</label>
              <input style="display: block;" type="text" id="txtNombreEstablecimiento" disabled />
              <label style="display: block;" id='direccionEstablecimiento'>Direccion</label>
              <input style="display: block;" type="text" id="txtDireccionEstablecimiento" disabled/>
              
              <label style="display: block;" id='ciudadEstablecimiento'>Ciudad</label>
              <select id='cmbCiudad' disabled></select>
              
              <label style="display: block;" id='rubroEstablecimiento'>Rubro</label>
              <select  id='cmbRubro' disabled></select>
          </div>
      </div>
  </div>
</body>
</html>
