    {% extends "mi_app/base.html" %}

    {% block titulo %} Alta {% endblock %}

    {% block header %} {% endblock %}

    {% block content %}

    <form name="form1"id="frm1" class="form-horizontal" action="http://localhost:8000/establecimientos/" method="POST">{% csrf_token %}
      <fieldset>

      <!-- Form Name -->
      <legend>Crear un Establecimiento</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="id_nombre"></label>  
        <div class="col-md-6">
        <input id="nombre" name="nombre" type="text" placeholder="Ingresar Nombre Establecimiento" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="direccion"></label>  
        <div class="col-md-6">
        <input id="direccion" name="direccion" type="text" placeholder="Direccion: calle y N°" class="form-control input-md" required="">
          
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="ciudad"></label>  
        <div class="col-md-6">
        <input id="ciudad" name="ciudad" type="text" placeholder="Ingresar Ciudad" class="form-control input-md" required="" value="http://localhost:8000/ciudades/1/">
          
        </div>
      </div>
       <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="ciudad"></label>  
        <div class="col-md-6">
        <input id="latitud" name="latitud" type="text" placeholder="Ingresar latitud" class="form-control input-md" required="" value="20">
          
        </div>
      </div>
       <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="ciudad"></label>  
        <div class="col-md-6">
        <input id="longitud" name="longitud" type="text" placeholder="Ingresar longitud" class="form-control input-md" required="" value="20">
          
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="rubro"></label>
        <div class="col-md-6">
          <select id="rubro" name="rubro" class="form-control" >
            <option value="http://localhost:8000/rubros/1/">Gastronomia</option>
            <option value="http://localhost:8000/rubros/3/">Servicios</option>
          </select>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="ubicacion"></label>
        <div class="col-md-4">
          <button id="ubicacion" name="ubicacion" class="btn btn-info">Ubicacion</button>
        </div>
      </div>

      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="aceptar"></label>
        <div class="col-md-8">
          <button id="aceptar" name="aceptar" class="btn btn-success">Aceptar</button>
          <!--<input type="submit" class="btn btn-success" value="Aceptar">-->
          <a href="/index" class="btn btn-danger" role="button">Cancelar</a>
        </div>
      </div>

      </fieldset>
    </form>

    
    {% endblock content %}

    {% block js%}

    <script type="text/javascript">

    //Scrip para alta de Establecimientos 
           function altaEstablecimiento() {
                document.getElementById("frm1").submit();
            }  
              
    </script>
    <!--
    <script type="text/javascript">
    //Le paso a la funcion la url de donde estan todos los profesore//

function loadEstablecimientos(url){

  var xmlhttp = new XMLHttpRequest();

  xmlhttp.onreadystatechange=function(){
    if (xmlhttp.readyState==4 && xmlhttp.status==200){

      //Capturo el Json en una variable ylo parseo//
      var resp =  JSON.parse(xmlhttp.responseText);
      // uso la variable para generar el html//
      function pasarValor(form){
          form1.ciudad.value = resp[2];
      
      
      for(i = 0; i < resp.length; i++) {
        

        }
          
      }
      // llamo al tag dondo quiero que se muestren los datos//
      document.getElementById("frm1").innerHTML = out;
    }
    
  }
  xmlhttp.open("GET",url,true);
  xmlhttp.send();
  
}
//Ejecuto la funcion del script
loadEstablecimientos('http://localhost:8000/establecimientos/');
pasarValor(form1);
</script>
-->
  
    

    {%endblock%}