    {% extends "mi_app/base.html" %}

     {% block titulo %} Calificar{% endblock %}

    {% block header %} {% endblock %}

    {% block content %}
    	
    	<form class="form-horizontal" method="POST" action="#calificar">{% csrf_token %}
        <fieldset>

        <!-- Form Name -->
        <legend>Calificar el establecimieto</legend>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="radios">califiacar</label>
          <div class="col-md-4"> 
            <!-- estrelllas -->
            <div class="ec-stars-wrapper">
              <a href="#1" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
              <a href="#2" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
              <a href="#3" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
              <a href="#4" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
              <a href="#5" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
            </div>
            <noscript>Necesitas tener habilitado javascript para poder votar</noscript>
              <!-- fin estrelllas -->
          </div>
          
        </div>


        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="textarea">Comentario</label>
          <div class="col-md-4">                     
            <textarea class="form-control" id="textarea" name="textarea" ></textarea>
          </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="button1id"></label>
          <div class="col-md-8">
            <button id="button1id" name="button1id" class="btn btn-primary">Aceptar</button>
            <a href="/index" class="btn btn-danger" role="button">Cancelar</a>
          </div>
        </div>

        </fieldset>
      </form>

    {% endblock content %}